@font-face {
  font-family: 'Consola';
  src: url('../Assets/fonts/consola.eot'); /* IE9 Compat Modes */
  src: url('../Assets/fonts/consola.eot?#iefix') format('embedded-opentype'),
    url('../Assets/fonts/consola.woff') format('woff'),
    url('../Assets/fonts/consola.ttf') format('truetype'),
    url('../Assets/fonts/consola.svg#consola') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'consola', '华文细黑';
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 20px;
}

h2 {
  font-weight: 600;
}

h3 {
  padding: 25px 0 10px 0;
  font-weight: bold;
  font-size: 1.7em;
}

h4 {
  margin-top: 25px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #42b983;
}

input+label{
  user-select: none;
}

.text-center {
  text-align: center;
}

.logo-icon {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.main-nav {
  margin-top: 50px;
  text-align: center;
}

.main-nav li {
  text-align: center;
}

.main-nav a {
  color: #42b983;
}

.container-wrap {
  padding-left: 50px;
}