<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibal" content="ie=edge">
    <title>06.vue-model实现简易计算器</title>
    <style>
      [v-cloak] {
        display: none
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <input type="text" v-model="num0">
      <select v-model="operator">
          <option v-for="(item, index) in oplist" :key="index" :value="item">{{item}}</option>
      </select>
      <input type="text" v-model="num1">
      <button @click="calc">=</button>
      <input type="text" v-model="val">
    </div>

    <script src="../../lib/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          num0: 0,
          operator: '+',
          num1: 0,
          val: 0,
          oplist: ["+", "-", "*", "/", "%"]
        },
        methods: {
          calc() {
            this.val = eval(Number(this.num0) + this.operator + Number(this.num1))
          }
        }
      })
    </script>
  </body>

</html>