<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/main.css">
</head>

<body>
    <div id='app'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID: <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name: <input type="text" class="form-control" v-model="name">
                </label>

                <input type="button" value="添加" class="btn btn-primary" @click="addHandle">

                <label for="">
                    搜索: <input type="text" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>
        <table class="table table-borderd table-hover table-striped" v-cloak>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td><a @click.prevent.self="delHandle(item.id,index)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src='../../lib/vue.js'></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [
                    {
                        id: 1,
                        name: '奔驰',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '宝马',
                        ctime: new Date()
                    },
                    {
                        id: 3,
                        name: '奥迪',
                        ctime: new Date()
                    }
                ]
            },
            methods: {
                addHandle() {
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    })
                    this.id = this.name = ''
                },
                delHandle(id, index) {
                    // console.log(index)
                    // this.list.splice(index, 1)

                    // this.list.some((item,i) => {
                    //     if(item.id == id) {
                    //         this.list.splice(i,1)
                    //         return true
                    //     }
                    // })

                    var fIndex = this.list.findIndex((curr, index, arr) => {
                        if (curr.id == id) {
                            return true
                        }
                    })
                    this.list.splice(fIndex, 1)
                },
                search(keywords) {
                    // let newList = []
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords) > -1) newList.push(item)
                    // })

                    let newList = this.list.filter(item => {
                        if(item.name.includes(keywords)) {
                            return item
                        }
                    })
                    return newList
                }
            },
        })
    </script>
</body>

</html>