@font-face {
  font-family: 'Consola';
  src: url('../assets/fonts/consola.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/consola.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/consola.woff') format('woff'),
    url('../assets/fonts/consola.ttf') format('truetype'),
    url('../assets/fonts/consola.svg#consola') format('svg');
}

div[class^='root-'] {
  font-family: 'consola', 'Microsoft Yahei';
}

h3 {
  margin-top: 50px;
}

.title-h4 {
  position: relative;
  text-indent: 15px;
}

.title-h4:before {
  position: absolute;
  content: '#';
  color: #42b983;
  left: -15px;
  top: 1px;
}
