<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatibal" content="ie=edge">
  <title>Hello World!</title>
  <link rel="stylesheet" href="../../lib/bootstrap-3.3.7.css">
</head>

<body>
  <div id="app">
    <form action="" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" v-model="firstname" @keyup="handleFun">
        <label for="">+</label>
      </div>

      <div class="from-group">
        <input type="text" class="form-control" v-model="lastname" @keyup="handleFun">
        <label for="">=</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" v-model="fullname">
      </div>
    </form>
  </div>

  <script src="../../lib/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: '',
        fullname: ''
      },
      methods: {
        handleFun() {
          this.fullname = this.firstname + this.lastname
        }
      }
    })
  </script>
</body>

</html>