@font-face {
  font-family: 'consola';
  src: url('../fonts/consola.woff');
  font-weight: 600;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

html, body, #root-trunk {
  height: 100%;
}

.wrap-container {
  height: 100%;
  color: red;
  background: url(../images/bg-parking.jpg) no-repeat;
  background-size: 100%;
  font-family: 'consola'
}