<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introduction</title>
    <link rel="shortcut icon" href="../Assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../Styles/main.css">
</head>

<body>
    <div class="container-wrap">
        <h3>介绍</h3>

        <h4># 申明式渲染</h4>
        <div id="app">
            {{ message }}

            <span v-bind:title="msg">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>

        <h4># 条件与循环</h4>
        <div id="app-1">
            <p v-if='seen'>现在你看到我了</p>
            <br>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <h4># 处理用户输入</h4>
        <div id="app-2">
            <p>{{ message }}</p>
            <input type="text" v-model="message">
            <button v-on:click="reverseMessage">逆转消息</button>
        </div>

        <h4># 组件化应用构建</h4>
        <div id="app-3">
            <!-- 创建一个 todo-item 组件的实例 -->
            <todo-item></todo-item>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                msg: '页面加载于：' + new Date().toLocaleDateString()
            }
        })

        new Vue({
            el: '#app-1',
            data: {
                seen: true,
                todos: [{
                    text: '学习Javascript'
                }, {
                    text: '学习Vue'
                }, {
                    text: '整个牛项目'
                }]
            }
        })

        new Vue({
            el: '#app-2',
            data: {
                message: 'Hello Vue.Js!'
            },
            methods: {
                reverseMessage() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</body>

</html>