<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatibal" content="ie=edge">
  <title>Hello World!</title>
  <style>
    .v-leave-to,
    .v-enter {
      opacity: 0;
      transform: translate(150px, 0);
    }

    .v-leave-active,
    .v-enter-active {
      transition: all .5s linear;
    }

    [v-cloak] {
      display: none
    }

    .show-leave-to,
    .show-enter {
      opacity: 0;
      transform: translate(0, 150px);
    }

    .show-leave-active,
    .show-enter-active {
      transition: all .5s linear;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <input type="button" @click="show=!show" value="toggle">
    <transition>
      <h1 v-if='show'>{{ message }}</h1>
    </transition>

    <transition name="show">
      <h1 v-if='show'>{{ message }}</h1>
    </transition>
  </div>

  <script src="../../lib/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        message: 'Hello World!',
        show: true
      },
      methods: {}
    })
  </script>
</body>

</html>