<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/main.css">
</head>

<body>
    <div id='app'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID: <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name: <input type="text" class="form-control" v-model="name" @keyup.f2="addHandle">
                </label>

                <input type="button" value="添加" class="btn btn-primary" @click="addHandle">

                <label for="">
                    搜索: <input type="text" class="form-control" v-model="keywords" v-focus v-fontweight="'900'" v-fontitalic>
                </label>
            </div>
        </div>
        <table class="table table-borderd table-hover table-striped" v-cloak>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dataFormat}}</td>
                    <td><a @click.prevent.self="delHandle(item.id,index)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src='../../lib/vue.js'></script>
    <script>
        Vue.filter('dataFormat', (data, arg = "yy-MM-dd hh:mm:ss") => {
            let dt = new Date();
            dt.yy = dt.getFullYear().toString().substr(2)
            arg = arg.replace(/yyyy/g, dt.getFullYear())
                .replace(/yy/g, dt.yy)
                .replace(/MM/g, (dt.getMonth() + 1).toString().padStart(2, 0))
                .replace(/dd/g, dt.getDate().toString().padStart(2, 0))
                .replace(/hh/g, dt.getHours().toString().padStart(2, 0))
                .replace(/mm/g, dt.getMinutes().toString().padStart(2, 0))
                .replace(/ss/g, dt.getSeconds().toString().padStart(2, 0))
            return arg;
        })

        Vue.config.keyCodes.f2 = 113;

        Vue.directive('focus', {
            bind: (el) => {

            },
            inserted: (el) => {
                el.focus()
            }
        })

        Vue.directive('color', {
            bind: (el, binding) => {
                console.log(binding)
                el.style.color = binding.value
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [
                    {
                        id: 1,
                        name: '奔驰',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '宝马',
                        ctime: new Date()
                    },
                    {
                        id: 3,
                        name: '奥迪',
                        ctime: new Date()
                    }
                ]
            },
            methods: {
                addHandle() {
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    })
                    this.id = this.name = ''
                },
                delHandle(id, index) {
                    // console.log(index)
                    // this.list.splice(index, 1)

                    // this.list.some((item,i) => {
                    //     if(item.id == id) {
                    //         this.list.splice(i,1)
                    //         return true
                    //     }
                    // })

                    var fIndex = this.list.findIndex((curr, index, arr) => {
                        if (curr.id == id) {
                            return true
                        }
                    })
                    this.list.splice(fIndex, 1)
                },
                search(keywords) {
                    // let newList = []
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords) > -1) newList.push(item)
                    // })

                    let newList = this.list.filter(item => {
                        if (item.name.includes(keywords)) {
                            return item
                        }
                    })
                    return newList
                }
            },
            directives: {
                fontweight: {
                    bind(el, binding) {
                        el.style.fontWeight = binding.value
                    }
                },
                fontitalic: function (el, binding) { //简写，等同于在update和bind中各写一份
                    el.style.fontStyle = "italic"
                }
            }
        })
    </script>
</body>

</html>