<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatibal" content="ie=edge">
  <title>Hello World!</title>
  <link rel="stylesheet" href="../../lib/bootstrap-3.3.7.css">
</head>

<body>
  <div id="app">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">品牌添加</div>
      </div>
      <div class="panel-body">
        <form action="" class="form-inline">
          <div class="form-group">
            <label for="">Name:
              <input type="text" class="form-control" v-model="name" @keyup.f2="addItem">
            </label>
          </div>
          <button class="btn btn-primary" @click.prevent="addItem">添加</button>

          <div class="form-group">
            <input type="text" placeholder="search" v-model="keywords" class="form-control" v-focus>
          </div>
        </form>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Time</th>
            <th>Operate</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in searchList(keywords)" :key="index">
            <td>{{ index + 1 }}</td>
            <td v-fontweight='800'>{{ item.name }}</td>
            <td>{{ item.time | timeformat('yyyy-MM-dd hh:mm')}}</td>
            <td><a href="#" @click.prevent="delItem(index)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="../../lib/vue.js"></script>
  <script>
    // 全局自定义指令
    Vue.filter('timeformat', (data, arg = 'yy-MM-dd hh:mm') => {
      var date = new Date(data)
      return arg
        .replace('yyyy', date.getFullYear().toString().padStart(4, '0'))
        .replace('yy', date.getFullYear().toString().padStart(4, '0').substr(-2))
        .replace('MM', (date.getMonth() + 1).toString().padStart(2, '0'))
        .replace('dd', date.getDate().toString().padStart(2, '0'))
        .replace('hh', date.getHours().toString().padStart(2, '0'))
        .replace('mm', date.getMinutes().toString().padStart(2, '0'))
    })

    // 自定义按键修饰符别名
    Vue.config.keyCodes.f2 = 113

    Vue.directive('focus', {
      /*
       * 钩子函数的参数：
       * 1. 被操作的dom元素
       * 2. binding对象 {name, value, oldValue, expression, arg, modifiers}
       * 3. vnode
       * 4. oldVnode
       */
      bind(el, binding) { // 每当指令绑定到元素上时，立即执行一次bind函数   和属性有关的操作在此添加
        el.style.color = '#0f0'
      },
      inserted(el) { //插入到DOM时，会执行inserted函数  和行为有关的操作在此添加
        el.focus()
      },
      updated() { } //当vnode执行多次时，会触发多次
    })

    new Vue({
      el: '#app',
      data: {
        name: '',
        keywords: '',
        list: [{
          name: '刘备',
          time: '97/12/9 18:38'
        }, {
          name: '关羽',
          time: new Date()
        }, {
          name: '张飞',
          time: new Date()
        }]
      },
      methods: {
        searchList(keywords) {
          return this.list.filter((ele, index) => {
            if (ele.name.includes(keywords)) return ele
          })
        },
        addItem() {
          if (this.name == '') return
          this.list.push({
            name: this.name,
            time: new Date()
          })
          this.name = ''
        },
        delItem(index) {
          var findindex = this.list.findIndex((item, idx) => {
            if (index == idx) return true
          })
          this.list.splice(findindex, 1)
        }
      },
      directives: {
        fontweight(el, binding) { //简写，等同于在update和bind种各写一份
          el.style.fontWeight = binding.value
        },
        fontitalic: {
          bind: (el, binding) => {
            el.style.fontStyle = "italic"
          }
        }
      }
    })
  </script>
</body>

</html>