body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

*{
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 28px;
    margin: 0;
    font-weight: 400;
    color: #1f2f3d;
    margin-top: 50px;
}

.comp-content h2:first-child{
    margin-top: 0;
}

h3{
    font-weight: 400;
    color: #1f2f3d;
    font-size: 22px;
    margin-top: 50px;
}

p{
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
    margin: 14px 0;
}

.gray-border-box{
    border: 1px solid #ebebeb;
    padding: 15px;
    word-break: break-all;
    word-wrap: break-word;
}